<mat-toolbar color="primary">
  <span class="brand" routerLink="/home">Lightning Rod - 避雷针</span>
  <span fxFlex></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">

    <button *ngIf="!(user | async)" mat-menu-item routerLink="/login">
      <mat-icon>check</mat-icon>
      <span>Login</span>
    </button>
    <button *ngIf="user | async"  mat-menu-item routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item routerLink="/about">
      <mat-icon>error_outline</mat-icon>
      <span>About</span>
    </button>
    <button *ngIf="user | async" mat-menu-item (click)="doLogout()">
      <mat-icon>close</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
