<div fxLayout="row">
  <mat-card class="signup-card" fxFlex="33%" fxFlexOffset="33%">
    <h1>Sign Up</h1>
    <mat-card-content>
      <section>
        <mat-form-field floatPlaceholder="auto">
          <input type="text" matInput placeholder="Email">
        </mat-form-field>
      </section>
      <section>
        <mat-form-field floatPlaceholder="auto">
          <input type="password" matInput placeholder="Password">
        </mat-form-field>
      </section>
      <section>
        <mat-form-field floatPlaceholder="auto">
          <input type="password" matInput placeholder="RePassword">
        </mat-form-field>
      </section>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/">Sign Up</button>
    </mat-card-actions>
  </mat-card>
</div>
