.filter{
  margin-left:30px;
}

.review-card {
  margin:20px;
}

.review-header {
  margin:20px;
  border-bottom: 2px solid black;
}

.tag-header {
  margin-top: 8px;
  /* border-left: 3px solid black; */
  padding-left: 6px;
  font-size: 16px;
  font-weight: 500;
  display: list-item;
  list-style: circle;
}
