.course-card {
  margin: 20px;
}

.course-card-header-image {
  background-size: cover;
}

.search-bar {
  margin: 10px 0 0 16px;
}
.search-bar mat-form-field {
  width: 225px;
}


.mat-chip{
  margin-bottom: 5px;
}

.semester-selector {
  margin-left: 12px;
  margin-bottom: 10px;
}

.tags {
  margin-top: 25px;
}

.tag-header {
  margin-top: 8px;
  /* border-left: 3px solid black; */
  padding-left: 6px;
  font-size: 16px;
  font-weight: 500;
  display: list-item;
  list-style: disc;
}

.tags-group{
  padding-left: 0px;
}

.tags-group > li {
  margin: 8px 0 8px 0;
}

.instructor-avatar {
  height: 140px;
  width: 100px;
  margin-left: 10px;
  border: 1px solid #021a40;
}

.title {
  font: 400 34px/40px Roboto,"Helvetica Neue",sans-serif;
  margin: 20px 0 0 16px;
}

.subtitle {
  font: 300 14px/24px Roboto,"Helvetica Neue",sans-serif;
  margin: 0 0 0 16px;
}

.head-img {
  margin: 20px 0 0 0;
  width: 350px;
  height: 150px;
}

mat-chip {
  margin: 8px 0 0 8px !important;
}

.default-course {
  margin-bottom: 10px;
}

.default-course-area {
  margin-left: 20px;
}
