<div fxLayout='row'>
  <div fxFlex="70%">
    <h1 class="title">Finding the right unit matters</h1>
    <p class="subtitle">Want to hardcore skills or just take it easy, we want to help make every semester a good one.</p>
    <div class="search-bar" fxLayoutAlign="left">
      <mat-form-field>
        <input matInput placeholder="Enter unit codes to find reviews">
      </mat-form-field>
    </div>
  </div>
  <div fxFlex="20%">
    <img class="head-img" src="../../../assets/img/discussion.jpg" alt="">
  </div>
</div>


<div fxLayout='row wrap'>
  <div *ngFor="let course of courses" fxFlex.gt-lg="50%" fxFlex.md="100%" fxFlex.lt-sm="100%" fxLayoutAlign="center">

    <mat-card class="course-card">
      <mat-card-header>
        <div mat-card-avatar class="course-card-header-image" [style.background-image]="course.logo"></div>
        <mat-card-title>{{course.name}}</mat-card-title>
        <mat-card-subtitle>{{course.code}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout='row wrap'>
          <div fxFlex="30%">
            <div class="semester-selector">
              <button mat-icon-button [matMenuTriggerFor]="semester">
                {{course.instructor}}
                <mat-icon>
                  <i class="material-icons">keyboard_arrow_down</i>
                </mat-icon>
              </button>
              <mat-menu #semester="matMenu">
                <button (click)="tuneVersionPriority(item.instructor)" mat-menu-item *ngFor="let item of course.versions">
                  <span>{{item.instructor}}</span>
                </button>
              </mat-menu>
            </div>

            <div>
              <img src="{{course.avatar}}" class="instructor-avatar" alt="">
            </div>
          </div>
          <div fxFlex="70%">
            <p>This instructor has taught this course for </p>
            <ul class="tags-group">
              <li fxLayout='row wrap'>
                <p class="tag-header" fxFlex="30%">
                  Work Load
                </p>
                <div fxFlex="70%">
                  <mat-chip-list>
                    <mat-chip (click)="addReview('workload', course, item.tag)" *ngFor="let item of course.workload" selected="true">{{item.tag}} {{item.upvote}}</mat-chip>
                    <mat-chip (click)="popReviewDialog('workload', course)">+</mat-chip>
                  </mat-chip-list>
                </div>
              </li>
              <li fxLayout='row wrap'>
                <p class="tag-header" fxFlex="30%">
                  Assignment
                </p>
                <div fxFlex="70%">
                  <mat-chip-list>
                    <mat-chip (click)="addReview('assignment', course, item.tag)" *ngFor="let item of course.assignment" selected="true">{{item.tag}} {{item.upvote}}</mat-chip>
                    <mat-chip (click)="popReviewDialog('assignment', course)">+</mat-chip>
                  </mat-chip-list>
                </div>
              </li>
              <li fxLayout='row wrap'>
                <p class="tag-header" fxFlex="30%">
                  Exam
                </p>
                <div fxFlex="70%">
                  <div fxFlex="70%">
                    <mat-chip-list>
                      <mat-chip (click)="addReview('exam', course, item.tag)" *ngFor="let item of course.exam" selected="true">{{item.tag}} {{item.upvote}}</mat-chip>
                      <mat-chip (click)="popReviewDialog('exam', course)">+</mat-chip>
                    </mat-chip-list>
                  </div>
                </div>
              </li>
              <li fxLayout='row wrap'>
                <p class="tag-header" fxFlex="30%">
                  Programming
                </p>
                <div fxFlex="70%">
                  <div fxFlex="70%">
                    <mat-chip-list>
                      <mat-chip (click)="addReview('programming', course, item.tag)" *ngFor="let item of course.programming" selected="true">{{item.tag}} {{item.upvote}}</mat-chip>
                      <mat-chip (click)="popReviewDialog('programming', course)">+</mat-chip>
                    </mat-chip-list>
                  </div>
                </div>
              </li>
              <li fxLayout='row wrap'>
                <p class="tag-header" fxFlex="30%">
                  Marking
                </p>
                <div fxFlex="70%">
                  <mat-chip-list>
                    <mat-chip (click)="addReview('marking', course, item.tag)" *ngFor="let item of course.marking" selected="true">{{item.tag}} {{item.upvote}}</mat-chip>
                    <mat-chip (click)="popReviewDialog('marking', course)">+</mat-chip>
                  </mat-chip-list>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </mat-card-content>
      <!-- <mat-card-actions>
        <button mat-button routerLink="/detail">More</button>
      </mat-card-actions> -->
    </mat-card>
  </div>
</div>
