<div class="search-bar" fxLayoutAlign="center">
  <mat-form-field>
    <input matInput placeholder="Search Course Here">
  </mat-form-field>
</div>

<div fxLayout='row wrap'>
  <div *ngFor="let course of courses | async" fxFlex.gt-lg="50%" fxFlex.md="100%" fxFlex.lt-sm="100%" fxLayoutAlign="center">

    <mat-card class="course-card">
      <mat-card-header>
        <div mat-card-avatar class="course-card-header-image" [style.background-image]="course.logo"></div>
        <mat-card-title>{{course.name}}</mat-card-title>
        <mat-card-subtitle>{{course.code}} - {{course.instructor}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout='row wrap'>
          <div fxFlex="30%">
            <div class="semester-selector">
              <button  mat-icon-button [matMenuTriggerFor]="semester">
                2017S2
                <mat-icon>
                  <i class="material-icons">keyboard_arrow_down</i>
                </mat-icon>
              </button>
              <mat-menu #semester="matMenu">
                <button mat-menu-item>
                  <span>2018S1</span>
                </button>
              </mat-menu>
            </div>

            <div>
              <img src="{{course.avatar}}" class="instructor-avatar" alt="">
            </div>
          </div>
          <div fxFlex="70%">
            <ul class="tags-group">
              <li fxLayout='row wrap'>
                <p class="tag-header" fxFlex="30%">
                  Work Load
                </p>
                <div fxFlex="70%">
                  <mat-chip-list>
                    <mat-chip *ngFor="let tag of course.tags" color="{{tag.color}}" selected="true">{{tag.name}} {{tag.upvote}}</mat-chip>
                    <mat-chip>+</mat-chip>
                  </mat-chip-list>
                </div>
              </li>
              <li fxLayout='row wrap'>
                <p class="tag-header" fxFlex="30%">
                  Assignment
                </p>
                <div fxFlex="70%">
                  <mat-chip-list>
                    <mat-chip *ngFor="let tag of course.tags" color="{{tag.color}}" selected="true">{{tag.name}} {{tag.upvote}}</mat-chip>
                    <mat-chip>+</mat-chip>
                  </mat-chip-list>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>More</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
