.course-card {
  width: 400px;
  height: 340px;
  margin: 20px;
}

.course-card-header-image {
  background-size: cover;
}

.search-bar {
  margin-top: 10px;
}


.mat-chip{
  margin-bottom: 5px;
}

.semester-selector {

}

.tags {
  margin-top: 25px;
}

.instructor-avatar {
  height: 140px;
  width: 100px;
  margin-left: 10px;
  border: 1px solid #021a40;
}
