.course-card {
  width: 800px;
  margin: 20px;
}

.course-card-header-image {
  background-size: cover;
}

.search-bar {
  margin-top: 10px;
}


.mat-chip{
  margin-bottom: 5px;
}

.semester-selector {
  margin-left: 40px;
  margin-bottom: 10px;
}

.tags {
  margin-top: 25px;
}

.tag-header {
  margin-top: 8px;
  /* border-left: 3px solid black; */
  padding-left: 6px;
  font-size: 16px;
  font-weight: 500;
  display: list-item;
  list-style: circle;
}

.tags-group{
  padding-left: 0px;
}

.instructor-avatar {
  height: 140px;
  width: 100px;
  margin-left: 10px;
  border: 1px solid #021a40;
}
